body{
    background-color: dodgerblue;
    text-align: center;
}
.login{
    background-color: white;
    display: inline-block;
    text-align: center;
    width: 300px;
    height: 320px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 20px;
    margin-top: 60px;
}
h2{
    margin-left: -230px;
    color: rgb(79, 78, 78);
    font-family: Arial, Helvetica, sans-serif;
}
#email{
    width: 280px;
    padding: 5px;
}
#password{
    width: 280px;
    padding: 5px;
}
/* .checkbox{
    color: gray;
    display: inline-block;
    margin: 20px;
    font-size: small;
}  */
#checkbox-div{
    color: gray;
    display: grid;
    grid-template-columns: auto auto;
    margin: 15px;
    font-size: small;
}
#A{
    margin-top: -35px;
    margin-left: -48px;
}
#B{
    margin-top: -30px;
    margin-right: -35px;
}
label{
    color: dodgerblue;
}
button{
    width: 280px;
    padding: 10px;
    background-color: dodgerblue;
    color: aliceblue;
    border: 1px solid dodgerblue;;
    border-radius: 5px;
}
#already{
    color: gray;
    font-size: small;
}
input{
    border: none;
}