.f{
    display:flex;
    justify-content: center;
    height: 600px;
    width: 1200px;
    border-radius: 4px;
    border: 1px solid black;
    background-color: rgb(17, 90, 224);
}

#a{
    padding: 20px;
    display: inline-block;
    height:300px;
    width: 250px;
    margin: 50px;
    margin-top: 100px;
    border-radius: 5px;
    background-color:white;
}

#b{
    display: inline-block;
     padding: 20px;
    height:400px;
    width: 290px;
    margin-: 20%;
    margin-top: 10px;
    border-radius: 5px;
    background-color:white;
}
input{
    border: none;
}
#button{
    background-color: rgb(17, 90, 224);
    color: aliceblue;
    width:220px;
    height: 30px;
    border-radius: 8px;
    margin-left: 9px;
    margin-top: 30px;

   
}
#button2
{
    background-color: rgb(17, 90, 224);
    color: aliceblue;
    border-radius: 4px ;
   margin-top: 40px;
   margin-left: 19px;
   height: 30px;
   width: 250px ;
}