*{
    background-color: aquamarine;
}
h1{
    background-color: rgb(58, 150, 119);
}
.krish{
    /* background-color: rgb(234, 234, 120); */
    color: rgb(21, 108, 79);
}
#krishna{
    background-color: rgb(45, 187, 140);
    color: aquamarine;
}
.p{
    color: rgb(7, 72, 50);
}
.krishh{
    background-color: rgb(215, 255, 239);
}