body{
    background-color: dodgerblue;
    text-align: center;
}
.login{
    background-color: white;
    display: inline-block;
    text-align: center;
    width: 300px;
    height: 320px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 20px;
}
.login:h2{
    text-align: left;
}
#email{
    width: 250px;
    padding: 10px;
}
#password{
    width: 250px;
    padding: 10px;
}
.checkbox{
    color: gray;
    display: inline-block;
    margin: 15px;
}
label{
    color: dodgerblue;
}
button{
    width: 270px;
    padding: 10px;
    background-color: dodgerblue;
    border: 1px solid dodgerblue;;
    border-radius: 5px;
}