#a{
    width: 500px;
    border: 1px solid #000;
}
#h{
    /* width: 250px; */
    width: 250vw;
    border: 1px solid #000;
}
/* #d{
    width: 200px;
    height: 200px;
    border: 2px solid #000;
    margin: 20px 40px;
    padding: 30px;
} */
 .d{
    text-align: center;
    display: inline-block;
    width: 150px;
    height: 200px;
    border: 2px solid #000;
    border-radius: 10px;
    margin: 20px 40px 60px 80px;
    padding: 30px;
}
span{
    /* display: block; */
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 1px solid #000;
}
